/* Các màu được sử dụng để thay thế
.e-schedule .e-vertical-view .e-work-cells {
    background-color: #FF5733 !important;
}
.e-schedule .e-month-view .e-work-cells {
    background-color: #33FF77 !important;
}
.e-schedule .e-month-view .e-other-month {
    background-color: #3366FF !important;
}
.e-schedule .e-timeline-view .e-work-cells {
    background-color: #FF33CC !important;
}
.e-schedule .e-timeline-month-view .e-work-cells {
    background-color: #CC33FF !important;
}
.e-schedule .e-timeline-year-view .e-work-cells {
    background-color: #33CCFF !important;
}
.e-schedule .e-timeline-year-view .e-work-cells.e-other-month {
    background-color: #FFCC33 !important;
}
.e-schedule .e-month-agenda-view .e-work-cells {
    background-color: #33FFFF !important;
}
.e-schedule .e-month-agenda-view .e-other-month {
    background-color: #FF3366 !important;
}
.e-schedule .e-year-view .e-calendar-wrapper .e-month-calendar.e-calendar .e-other-month {
    background-color: #66FF33 !important;
}
.e-schedule .e-vertical-view .e-all-day-cells {
    background-color: #FF9933 !important;
}
.e-schedule .e-vertical-view .e-work-hours {
    background-color: #33FF99 !important;
}
.e-schedule .e-month-view .e-work-days {
    background-color: #9933FF !important;
}
.e-schedule .e-month-agenda-view .e-work-days {
    background-color: #FF99CC !important;
}
.e-schedule .e-timeline-view .e-work-hours {
    background-color: #CC99FF !important;
}
.e-schedule .e-timeline-month-view .e-work-days {
    background-color: #99FF33 !important;
}
.e-schedule .e-timeline-year-view .e-work-cells.e-work-days {
    background-color: #33CC66 !important;
}
.e-schedule .e-vertical-view .e-day-wrapper .e-appointment {
    background-color: #FF66CC !important;
}
.e-schedule .e-vertical-view .e-all-day-appointment-wrapper .e-appointment {
    background-color: #66FFCC !important;
} */

/* la no */


/* .e-schedule .e-month-view .e-appointment {
    background-color: #ff66a1 !important;
} */



/* .e-schedule .e-timeline-view .e-appointment {
    background-color: #FFCC66 !important;
}
.e-schedule .e-timeline-month-view .e-appointment {
    background-color: #66CCFF !important;
}
.e-schedule .e-timeline-year-view .e-event-table .e-appointment {
    background-color: #FF6666 !important;
}
.e-schedule .e-year-view .e-calendar-wrapper .e-month-calendar.e-calendar .e-appointment {
    background-color: #6666FF !important;
}
.e-schedule .e-agenda-view .e-appointment {
    background-color: #FF33FF !important;
}
.e-schedule .e-month-agenda-view .e-appointment-indicator {
    background-color: #33FFCC !important;
}
.e-schedule .e-block-appointment {
    background-color: #CC33CC !important;
}
.e-schedule .e-read-only {
    background-color: #CCFF33 !important;
}
.e-appointment-border {
    background-color: #33CCFF !important;
}
.e-selected-cells {
    background-color: #FF6633 !important;
}
.e-header-cells {
    background-color: #FF3366 !important;
}
.e-schedule .e-vertical-view .e-resource-cells {
    background-color: #33FF66 !important;
}
.e-schedule .e-month-view .e-resource-cells {
    background-color: #6633FF !important;
}
.e-schedule .e-timeline-view .e-resource-cells {
    background-color: #FF9933 !important;
}
.e-schedule .e-timeline-month-view .e-resource-cells {
    background-color: #FF66FF !important;
}
.e-parent-node {
    background-color: #3399FF !important;
}
.e-child-node {
    background-color: #FF3399 !important;
} */
