version: '3.8'
services:
  panda-nginx:
    build: 
      context: .
    ports:
      - 3000:80
    volumes:
      - ../../Front-end/build:/usr/share/nginx/html
      - ./default.conf:/etc/nginx/conf.d/default.conf

  


    

    # docker-compose -p panda-nginxx up -d