


.ce-chat-list {
    /* background-color: rgb(0, 255, 51) !important; */
    width: 250px;
}

/* .ce-chat-form-container {
    background-color: blue !important;
} */


/* .ce-chat-card .ce-active-chat-card {
    width: 300px;
} */
